header {
    opacity: 0.75;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 24px;
}

.api-col {
    opacity: 0.9;

}

.search-btn {
    margin-right: 5px;
}

.error{
   color:#F44336
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:before,
[type="radio"].with-gap:checked + span:after {
 
  border: 2px solid purple;
 
}

[type="radio"]:checked + span:after,
[type="radio"].with-gap:checked + span:after {
  background-color: purple;
}


 
[type="checkbox"].filled-in:checked + span:not(.lever):after {
 
    top: 0;
   
    width: 20px;
   
    height: 20px;
   
    border: 2px solid purple;
   
    background-color: purple;
   
    z-index: 0;
   
  }